:host{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #dddddd;
  flex-grow: 1;
  flex-wrap: wrap;
}
.page_info, .page_map, .page_accessory{
  padding: 10px;
  flex-grow: 1;
  transition: all ease 1s;
}
.page_info {
  background-color: #353535;
  flex: 0 1 auto;
}
.page_accessory {
  background-color: #444;
}
.page_map {
  background-color: #333;
}
