:host {
    color: #dddddd;
    display: flex;
    flex-wrap: wrap;
}

.page_info, .page_map, .page_accessory {
    padding: 10px;
    transition: all ease 1s;
}

.page_info {
    background-color: #353535;
    padding: 0;
}

.page_accessory {
    background-color: #444;
}

.page_map {
    background-color: #333;
}
