<div class="microcard">
  <div class="container_spawn">
      <div class="spawnicon" width="35px">
        <div class="spawn_id"># 100</div>
      </div>
  </div>

  <img class="arrow" [src]="'assets/accessory/native/arrow_1.png'"/>

  <app-accessory-item [itemId]="9" class="armed_slot"></app-accessory-item>

  <div class="accessory_btns" *ngIf="options && options.addtionalBtns" >
      <button *ngFor="let ab of options.addtionalBtns" class="btn additionalBtn" [ngClass]="ab.class" (click)="clickAdditionalBtn( ab )" >{{ab.title}}</button>
    </div>
</div>
