<div class="usercard_container">
  <div class="usercard_header">
    <span class="usercard_nametitle">{{user.name + ' (' + user.title + ')'}}</span>
    <span class="usercard_nametitle_owner" *ngIf="_owner"> {{'(это ты)'}} </span>
  </div>
  <div class="usercard_body">
    <div class="usercard_avatar" [style.background-image]="user.avatar_min"></div>
    <div class="usercard_message">
      <div class="usercard_message__icon"><i [ngClass]="user.message.icon" class="fas fa-2x"></i> </div>
      <div class="usercard_message__text">{{user.message.text}}</div>
      <div class="usercard_message__datetime" *ngIf="user.message.datetime">{{ user.message.datetime }}</div>
    </div>
    <!-- <div class="usercard_panel">
      <ng-container *ngIf="_owner;then owner else default"></ng-container>
      <ng-template #default>
        <div class="usercard_panel_item"><i class="fas fa-envelope"></i></div>
        <div class="usercard_panel_item"><i class="fas fa-sign-in-alt"></i></div>
        <div class="usercard_panel_item"><i class="fas fa-map-marker-alt"></i></div>
        <div class="usercard_panel_item"><i class="fas fa-chart-bar"></i></div>
      </ng-template>
      <ng-template #owner>
        <span class="owner">Ты</span>
      </ng-template>
    </div> -->
  </div>
  <div class="usercard_footer">
    <span class="usercard_status">{{user.status}} ({{user.last_change_datetime_humanity}})</span>
  </div>
  <app-usercardled [online]="user.online"></app-usercardled>
</div>
