<div class="microcard">
  <div class="header">Типы доступных предметов(WIKI)</div>
  <app-accessory-item style="cursor:default;" class="full" *ngFor="let item of lib_items" [itemId]="item.id" [options]="lib_item_options"></app-accessory-item>
</div>

<div class="microcard">
  <div class="header">RGO (real game objects) on Map</div>
  <app-accessory-item style="cursor:default;" class="full" *ngFor="let item of rgo_on_map" [itemId]="item.go_id" [options]="rgo_on_map_options"></app-accessory-item>
</div>

<div class="microcard">
  <div class="header">NON empty Slots by User</div>
  <app-accessory-item style="cursor:default;" class="full" *ngFor="let item of non_empty_slots" [itemId]="item.go_id" [options]="slots_options"></app-accessory-item>
</div>

<div class="microcard">
  <div class="header">EMPTY Slots without Owner</div>
  <app-accessory-item style="cursor:default;" class="full" *ngFor="let item of empty_slots" [itemId]="item.id" [mode]="'slot'" [options]="e_slots_options"></app-accessory-item>

  <div class="btn_panel">
    <button class="btn" (click)="createNewSlot()" >Создать новый слот для пользователя</button>
  </div>

</div>


