.sys_code{
  font-size: 90%;
  color: #bbb;
  width: 100%;
}
.sys_code_btns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.status_btn{
  flex-basis: 30%
}
.separator {
  width: 100%;
  text-align: right;
  border-bottom: 1px grey dotted;
}
.separator span{
  margin-right: 10px;
  font-size: 7pt;
}