<div class="cardheader">
  <span class="title">Статус</span>
  <div class="usermail_btns"><button class="btn btn_toggler" (click)="close()" ><i class="fas fa-times"></i></button></div>
</div>
<div class="sys_code_btns">
  <div class="separator"><span>Состояние</span></div>
  <button *ngFor="let b of buttons_state" class="btn status_btn" title="b.title" (click)="confirm(b)"><i [class]="b.icon"></i></button>
  <div class="separator"><span>Действия</span></div>
  <button *ngFor="let b of buttons_act" class="btn status_btn" title="b.title" (click)="confirm(b)"><i [class]="b.icon"></i></button>
  <div class="separator"><span>Наблюдения</span></div>
  <button *ngFor="let b of buttons_monitoring" class="btn status_btn" title="b.title" (click)="confirm(b)"><i [class]="b.icon"></i></button>
</div>