<div class="title">Крафт щита</div>
<div class="lab_craft_target">
  <app-accessory-lab-item></app-accessory-lab-item>
  <img class="arrow" [attr.src]="'assets/accessory/native/arrow_1.png'"/>
  <app-accessory-lab-item></app-accessory-lab-item>
</div>
<ng-container>
  <app-accessory-lab-item></app-accessory-lab-item>
  <app-accessory-lab-item></app-accessory-lab-item>
  <app-accessory-lab-item></app-accessory-lab-item>
  <app-accessory-lab-item></app-accessory-lab-item>
  <app-accessory-lab-item></app-accessory-lab-item>
  <app-accessory-lab-item></app-accessory-lab-item>
</ng-container>
<button class="btn btn_craft btn_craft_permitted">Создать</button>
