<div class="accessory_wiki_btns">
  <button class="btn btn_toggler accessory_wiki_close_btn"><i class="fas fa-times"></i></button>
</div>

<div class="accessory_wiki_image_container">
  <img src="assets/accessory/wiki/demo.jpg" width="80%"/>
</div>

<div class="accessory_wiki_title_main">Охранный щит</div>
<div class="accessory_wiki_title_sub">Защитный барьер 2 уровня</div>
<div class="accessory_wiki_description">

  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
  <p>"Нет никого, кто любил бы боль саму по себе, кто искал бы её и кто хотел бы иметь её просто потому, что это боль.."</p>

</div>
<div class="accessory_wiki_panel">
  <div class="accessory_wiki_panel_item">
    Категория: <span class="accessory_wiki_panel_text">Защитные сооружения</span>
  </div>
  <div class="accessory_wiki_panel_item">
    Стихия: <span class="accessory_wiki_panel_text">Земля</span>
  </div>
</div>
