<div class="usercard_container">
  <div class="usercard_header">
    <span class="usercard_nametitle">{{user.name + ' (' + user.title + ')'}}</span>
    <span class="usercard_nametitle_owner" *ngIf="_owner"> {{'(это ты)'}} </span>
  </div>
  <div class="usercard_body">
    <div class="usercard_avatar" [style.background-image]="user.avatar_min"></div>
    <div class="usercard_message">
      <div class="usercard_message__icon"><i [ngClass]="user.message.icon" class="fas fa-2x"></i> </div>
      <div class="usercard_message__text">{{user.message.text}}</div>
      <div class="usercard_message__datetime" *ngIf="user.message.datetime">{{ user.message.datetime }}</div>
    </div>
    <div class="usercard_panel" *ngIf="user.last_login as login">
    
      <ng-container>
        <div class="usercard_panel_item"><i class="fas fa-desktop" [title]="login.user_agent"></i></div>

        <div class="usercard_panel_item" *ngIf="login.battery">

          <ng-container *ngIf="login.battery < 20"> <i class="fas fa-battery-empty" [title]="login.battery"></i> </ng-container>
          <ng-container *ngIf="(login.battery > 20) && (login.battery < 50)"> <i class="fas fa-battery-quarter" [title]="login.battery"></i> </ng-container>
          <ng-container *ngIf="(login.battery > 50) && (login.battery < 75)"> <i class="fas fa-battery-half" [title]="login.battery"></i> </ng-container>
          <ng-container *ngIf="(login.battery > 75)"> <i class="fas fa-battery-full"  [title]="login.battery"></i> </ng-container>
          
        </div>
        <div class="usercard_panel_item" *ngIf="login.position_lat || login.position_lon || login.accuracy">
          <i class="fas fa-map-marker-alt" [title]="login.position_lat + ' ' + login.position_lon + ' Точность: ' + login.accuracy"></i>
        </div>

        <div class="usercard_panel_item" *ngIf="user.address"><i class="fas fa-home" [title]="user.address"></i></div>
       
      </ng-container>
    
    </div>
  </div>
  <div class="usercard_footer">
    <span class="usercard_status">{{user.status}} ({{user.last_change_datetime_humanity}})</span>
  </div>
  <app-usercardled [online]="user.online"></app-usercardled>
</div>
