<div class="userinfo_left">
  <img src="/assets/ssv_big.jpg" width="100%" class="userinfo_avatar"/>
  <div class="userinfo_emotion_block">
    <span>Настроение: </span><span>From/To</span>
    <div class="usercard_emotion_led"></div>
  </div>
  <button class="userinfo_send_msg btn">Cообщение</button>
  <button class="userinfo_send_notify btn">Уведомление</button>
</div>
<div class="userinfo_right">
  <span class="user_title">*SSV*</span>
  <span class="user_description">*Developer*</span>
  <span class="user_lastlogin">Заходил *2 дня назад*</span>
  <span class="user_lastsystem">c *Система*</span>
  <span class="user_lastip">ip: *IP Address*</span>
  <span class="user_lastregion">*Region*</span>
  <span class="user_lastcity">*City*</span>
  <span class="user_lastlocation">*Location coordinates*</span>
  <span class="user_lastaccuracy">*Accuracy*</span>

</div>
