:host{
  flex-direction: row;
  padding: 5px;
}
.userinfo_left{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}
.userinfo_left .userinfo_avatar{
  width: 100%;
  max-width: 200px;
}

.userinfo_right{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
.userinfo_right #infocardEmo_hc{
  max-width: 300px;
}
.userinfo_right .user_title{
  font-size: 200%;
  font-weight: bold;
  color: white;
}
.userinfo_right .user_description{
  font-size: 150%;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.userinfo_right .user_emotrend{

}
.userinfo_right span{
  color: #999;
  font-size: 90%;
}
.userinfo_send_msg{
  margin: 5px 0;
}
.userinfo_send_notify{

}
.emo_dinamic_container{
  align-self: flex-end;
}
