<div class="userinfo_btns">
  <button
    class="btn"
    [ngClass]="{'pressed': usermail_shown}"
    (click)="usermail_shown ? closeMail() : openMail()"
    >
      <i class="fas fa-envelope fa-2x icon"></i>
  </button>
</div>
<div class="userinfo_left">
  <img [attr.src]="user.avatar_big" class="userinfo_avatar"/>
  <div class="userinfo_emotion_block">
    <div class="usercard_emotion_led"></div>
  </div>
  <!--button class="userinfo_send_msg btn">Кнопка 1</button>
  <button class="userinfo_send_notify btn">Кнопка 2</button-->
</div>
<div class="userinfo_right">
  <span class="user_title">{{user.login}}</span>
  <span class="user_description">{{user.title}}</span>
  <span class="user_lastlogin">Последние изменения:<br><strong>{{user.last_change_datetime}}</strong></span>
  <span class="user_lastsystem">Последние изменения статуса:<br><strong>{{user.last_change_status_datetime}}</strong></span>
  <div class="user_lastsystem">Статус:<br><span>{{user.message.text}}</span>(<i [ngClass]="user.message.icon" class="fas"></i>)</div>

</div>
<div id="infocardEmo_hc" class="user_emotrend" #trend></div>
<div class="userinfo_left">Настроение было: {{user.emotion_last}} <br> {{user.emotion_last_datetime}}</div>
<div class="userinfo_right">Стало: {{user.emotion_current}} <br> {{user.emotion_current_datetime}}</div>
