:host{
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

.accessory_toggler{
  display: flex;
  border: 1px solid orange;
  flex-basis: 60%;
}

.toggler{
  flex-grow: 1;
  color: orange;
  cursor: pointer;
  padding: 5px 20px;
  border-left: 1px orange solid;
  display: flex;
  align-items: center;
}

.toggler_active{
  background-color: orange;
  color:black;
}
