
.main_container{
  display: flex;
}
.mainmenu{
  flex-direction: row;
  flex-basis: 75px;
  min-width: 75px;
  background-color: #1e1e1e;
  color: #ddd;
  transition: margin ease-in-out .2s;
}
.mainmenu.hidemenu{
  margin-left: -75px;
}
.workplace{
  background: #222;
  flex-grow: 1;
  overflow: auto;
  display: flex;
}
