<div class="card_panel">
  <ng-container *ngIf="v_users.length; else emptyUserList">
    <app-usercard
    *ngFor="let user of v_users; let i = index"
    [user]="user"
    [_owner]="isUserOwner(user)"
    (click)="selectUser(user)"
    ></app-usercard>
  </ng-container>
  <ng-template #emptyUserList>
    <span>Не удалось загрузить список пользователей</span>
  </ng-template>
  <a target="_blank" href="https://github.com/exclusiveLogin/hellgame24/commits/master">
    <img src="/assets/gitlogo.png" alt="Обновления проекта" title="Что нового в проекте" height="100px"/>
  </a>
</div>
<div class="dashboard_workplace">
  <app-pager>
    <div class="info-content">
      <app-user-info-card class="microcard" *ngIf="cur_user; else emptyuser" [user]="cur_user"></app-user-info-card>

      <app-user-mail *ngIf="usermail_shown"  class="microcard" [user]="cur_user && cur_user.login"></app-user-mail>

      <app-messanger class="microcard"
        [useServices]="true"
        [service4Work]="'blog'"
        [path]="{segment: 'blog', script: 'bloghandler.php'}"
        *ngIf="forMe(cur_user)"
      ></app-messanger>

      <app-messanger class="microcard"
        [useServices]="true"
        [service4Work]="'message'"
        [path]="{segment: 'message', script: 'messagehandler.php'}"
        *ngIf="!forMe(cur_user)"
      ></app-messanger>

      <app-user-status *ngIf="userstatus_shown" class="microcard"></app-user-status>
      <app-user-emo *ngIf="useremo_shown" class="microcard"></app-user-emo>
      <app-user-notyfier class="microcard"></app-user-notyfier>

      <app-user-message class="microcard"
      [to_user]="cur_user && cur_user.login"
      *ngIf="forMe( cur_user )"></app-user-message>

      <app-user-blog class="microcard" [author]="cur_user && cur_user.login"></app-user-blog>
    </div>
    <div class="map-content">
      <app-dash-map></app-dash-map>
    </div>
    <div class="accessory-content">
      <app-accessory-container class="microcard"></app-accessory-container>
    </div>
  </app-pager>
</div>

<ng-template #emptyuser>
  <div class="microcard">Пользователь не определен</div>
</ng-template>
