<div class="card_panel">
  <ng-container *ngIf="v_users.length; else emptyUserList">
    <app-usercard *ngFor="let user of v_users" [_user]="user"></app-usercard>
  </ng-container>
  <ng-template #emptyUserList>
    <span>Не удалось загрузить список пользователей</span>
  </ng-template>
</div>
<div class="dashboard_workplace">
  <app-pager>
    <div class="info-content">
      <app-user-info-card class="microcard"></app-user-info-card>
      <app-messanger class="microcard"></app-messanger>
      <app-user-notyfier class="microcard"></app-user-notyfier>
      <app-user-emotion-trend class="microcard"></app-user-emotion-trend>
      <app-user-blog class="microcard"></app-user-blog>
    </div>
    <div class="map-content">
      <app-dash-map></app-dash-map>
    </div>
    <div class="accessory-content">
      <app-accessory-header></app-accessory-header>
      <app-accessory-scope-list>
        <app-accessory-scope-list-item></app-accessory-scope-list-item>
      </app-accessory-scope-list>
      <app-accessory-card></app-accessory-card>
      <app-accessory-crafter></app-accessory-crafter>
    </div>
  </app-pager>
</div>
