.card_panel{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-items: center;
  background-color: #333;
  width: 100%;
  color: #dddddd;
  box-shadow: 0 2px 15px #111;
}
app-usercard{
  width: 250px;
  margin: 10px 15px;
  box-shadow: 8px 8px 0 #222;
  transition: box-shadow ease 0.5s;
}
app-usercard:hover{
  box-shadow: 3px 3px 0 #282828;
}
