<div class="usercard_container">
  <div class="usercard_header">
    <span class="usercard_nametitle"></span>
  </div>
  <div class="usercard_body">
    <div class="usercard_avatar"></div>
    <div class="usercard_message">
      <div class="usercard_message__icon"></div>
      <div class="usercard_message__text"></div>
      <div class="usercard_message__datetime"></div>
    </div>
    <div class="usercard_panel"></div>
  </div>
  <div class="usercard_footer">
    <span class="usercard_status"></span>
    <div class="usercard_indicator"></div>
  </div>
</div>
