.mapModeStatus{
    color: orange;
    font-size: small;
    margin-top: 10px;
    border: 1px #540 dotted;
    padding: 5px;
}
.map_container{
    height: 90vh;
}

@media screen and (max-width: 568px){
    .map_container{
        height: 60vh;
    }
}
