:host{
}
.icon{
  color: #ccc;
}
.userinfo_avatar{
  width: 100%;
}
.userinfo_right .user_title{
  font-size: 120%;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.userinfo_right .user_address{
  font-size: 70%;
  font-weight: bold;
  color: grey;
}
.userinfo_right .user_description{
  font-size: 150%;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.userinfo_right span{
  color: #999;
  font-size: 90%;
    display: block;
}
.userinfo_right {
    text-align: center;
}
.user_emotrend{
  max-width: 100%;
}
.lastEmoStatus{
  color: orange;
  font-size: small;
  margin-top: 10px;
  border: 1px #540 dotted;
  padding: 5px;
}
.userinfo_btns{
    background-color: #444;
    box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}
