
<div class="usermail_title">{{ title ? title : 'Личные сообщения' }}</div>
<div class="usermail_btns"><button class="btn btn_toggler" (click)="closeMail()"><i class="fas fa-times"></i></button></div>

<ng-container *ngIf="useGroup && _groupedItems.length" >
  <app-user-mail-group *ngFor="let group of _groupedItems"  [group]="group"></app-user-mail-group>
</ng-container>

<ng-container *ngIf="!useGroup && _messageItems.length" >
    <app-user-mail-group  *ngFor="let group of _messageItems" [group]="group" [useGroup]="useGroup"></app-user-mail-group>
  </ng-container>
